# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# caches/build
**/.cache/
**/.vite/
dist/
build/

# OS
.DS_Store

# env
.env

